# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

decorator>=3.4.0 # BSD
Flask!=0.11,<1.0,>=0.10 # BSD
flask_restful
ipaddress>=1.0.7;python_version<'3.3'  # PSF
jsonschema>=2.0.0,<3.0.0,!=2.5.0  # MIT
kazoo>=2.2 # Apache-2.0
oslo.db>=4.1.0
oslo.i18n>=2.1.0 # Apache-2.0
oslo.middleware>=3.0.0 # Apache-2.0
oslo.context>=2.2.0 # Apache-2.0
oslo.config>=3.9.0 # Apache-2.0
oslo.log>=1.14.0 # Apache-2.0
oslo.serialization>=2.9.0 # Apache-2.0
oslo.utils>=3.5.0 # Apache-2.0
PasteDeploy>=1.5.0 # MIT
Paste # MIT
pbr>=1.6
six>=1.9.0 # MIT
SQLAlchemy>=1.0.10,<1.1.0  # MIT
sqlalchemy-utils  # BSD License
stevedore>=1.5.0 # Apache-2.0
taskflow>=1.26.0 # Apache-2.0
zake>=0.1.6 # Apache-2.0
