# we can likely base on https://github.com/openstack/taskflow/blob/master/requirements.txt
# need to ensure Ansible, OSAD, TaskFlow, SQLAlchemy, misc

# See: https://bugs.launchpad.net/pbr/+bug/1384919 for why this is here...
pbr>=1.8.1 # Apache-2.0
