[DEFAULT]
# Set Debug level
debug=True
# Log file for craton inventory
log_file=craton-api.log

[api]
# Host IP to use for API service
host=0.0.0.0
# Port to use for API service
port=8080
# Paste Config file to use
api_paste_config=/root/test_craton/craton/etc/craton-api-paste.ini
# The name of the Paste pipeline to use for Craton.
#
# Pipelines are organized according to authentication scheme. The available
# choices are:
#
# - ``local-auth`` (the default) Uses Craton's default authentication and
#   authorization scheme
# - ``keystone-auth`` Uses Keystone for identity, authentication, and
#   authorization
paste_pipeline = local-auth


# Keystone Middlewre settings
[keystone_authtoken]
#auth_uri = https://127.0.0.1:5000
#auth_url = https://127.0.0.1:35357/v3
#project_name = service
#username = craton
#password = <required>
#project_domain_id = default
#user_domain_id = default
#auth_type = password

[database]
backend = sqlalchemy
connection = mysql://craton:craton@localhost/craton
use_db_reconnect = false
db_retry_interval = 1
db_inc_retry_interval = true
db_max_retry_interval = 5
db_max_retries = 5
